*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(image/How\ Taoist\ philosophy\ deals\ with\ the\ concept\ of\ anxiety.png);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}

.logo{
    font-size: 15px;
    color: #000;
    font-weight: 500;
    position: absolute;
    top: 85%;
    left: 85%;
}

.content{
    top: 35%;
    left: 35%;
    position: absolute;
    transform: translateY(-50%);
    color: #000;
}

.content h1{
    font-size: 50px;
    font-weight: 700;
}
.content h1 span{
    color: #ff3753;
}

.launch-time{
    display: flex;
    margin-top: 30px;
}
.launch-time div{
    flex-basis: 100px;
    align-items: center;
    text-align: center;
    color: #000;
    margin-right: 10px;
    line-height: 60px;
    border: 2px solid #000;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}

@media (max-width: 780px){
    .container{
        width: 100vw;
        height: 100vh;
        background-image: url(image/How\ Taoist\ philosophy\ deals\ with\ the\ concept\ of\ anxiety.png);
        background-position: center;
        background-size: cover;
        padding: 0 8%;
        position: relative;
    }
    
    .logo{
        font-size: 12px;
        color: #000;
        font-weight: 500;
        position: absolute;
        top: 93%;
        left: 5%;
    }
    
    .content{
        top: 5%;
        left: 11%;
        position: absolute;
        transform: translateY(-50%);
        color: #000;
    }
    
    .content h1{
        font-size: 28px;
        font-weight: 700;
        align-items: center;
        margin-left: 5%;
    }
    .content h1 span{
        color: #ff3753;
        font-size: 30px;
    }
    .content p{
        margin-left: -3%
    }
    
    .launch-time{
        display: block;
        margin-top: 20px;
        left: 23%;
        position: absolute;
        column-gap: 20px;
    }
    .launch-time div{
        flex-basis: 100px;
        align-items: center;
        text-align: center;
        color: #000;
        padding-left: 25px;
        padding-right: 25px;
        border: 2px solid #000;
        margin: 20px;
        border-radius: 10px;
    }
    .launch-time div p{
        font-size: 30px;
        margin-bottom: -14px;
    }
}
